<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Edit campground</title>

    <link rel="stylesheet" href="/css/global.css"/>
</head>

<style>
    /* override yelpcamp */
    yelpcamp {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 40%;
        min-width: 400px;
    }

    form {
        width: 100%;
    }

    input {
        width: 100%;
        margin-bottom: 10px;
        padding: 10px;
    }

    textarea {
        min-width: 100%;
        max-width: 100%;

        min-height: 100px;
        max-height: 500px;

        margin-bottom: 10px;
        padding: 10px;
    }

    button {
        width: 100%;
        padding: 10px;

        background-color: var(--color-yelpcamp-secondary);
        color: white;

        border: 0;
        cursor: pointer;
    }
    button:hover {
        text-decoration: underline;
    }

    error {
        display: block;
        width: 100%;
        margin-top: 10px;
        color: red;
        font-size: 90%;
    }
</style>

<body>
    <%- include('../layout/nav') %>

    <yelpcamp>
        <h1>Edit campground</h1>
        <form action="/camps/<%= camp.id %>/edit" method="post">
            <input required type="text" name="title" value="<%= camp.title %>"/>
            <input required type="number" min="0.10" step="0.01" name="price" value="<%= camp.price %>"/>
            <textarea name="description" cols="30" rows="10" placeholder="Description"><%= camp.description %></textarea>
            <input type="text" name="location" value="<%= camp.location %>" placeholder="Location"/>
            <input type="text" name="image" value="<%= camp.image %>" placeholder="Image url"/>

            <button>Update</button>
        </form> 

        <error>
            <%= camp.error %> 
        </error>
    </yelpcamp> 
</body>
</html>