<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>All campgrounds</title>

    <link rel="stylesheet" href="css/global.css"/>
</head>

<style>
    camp {
        display: flex;
        margin: 10px 0;
        padding: 10px;
        border: solid 1px var(--color-yelpcamp);
        border-radius: 10px;
    }
    camp:hover {
        background-color: #F9F9F9;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    img {
        width: 30%;
        aspect-ratio: 1/1;
        border-radius: 5px;
    }

    camp-info {
        padding: 10px;  
    }

    camp-title, camp-location, camp-price, camp-description {
        display: block;
    }

    camp-title {
        font-size: 150%;
        color:var(--color-yelpcamp);
        font-weight: bold;
        cursor: pointer;
    }
    camp-title:hover {
        text-decoration: underline;
    }

    camp-location {
        font-size: 80%;
        color: #bbb;
    }

    camp-price {
        font-weight: bold;
    }

    camp-description {
        margin-top: 10px;
    }

    camp-view-button {
        display: inline-block;
        margin-top: 10px;
        padding: 5px 10px;

        background-color: var(--color-yelpcamp-secondary);
        color: white;

        border-radius: 3px;
        cursor: pointer;
    }
    camp-view-button:hover {
        text-decoration: underline;
    }
</style>

<body>
    <%- include('../layout/nav') %>

    <yelpcamp>
        <h1>All campgrounds</h1>

        <% for (var c of camps) { %>
            <camp>
                <img class="lazy" src="/img/lazy-loaded-3.jpg" data-src="<%= c.image %>"/>

                <camp-info>
                    <camp-title ref="<%= c.id %>"><%= c.title %></camp-title>
                    <camp-location><%= c.location %></camp-location>
                    <camp-price>$<%= c.price %></camp-price>
                    <camp-description><%= c.description %></camp-description>
                    <camp-view-button ref="<%= c.id %>">View details</camp-view-button>
                </camp-info>
            </camp>     
        <% } %>
    </yelpcamp>
</body>
</html>

<!-- add links for titles & buttons -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        titles = document.querySelectorAll('camp-title, camp-view-button');
        titles.forEach (title => { 
            title.onclick = function() {
                _ref = this.getAttribute('ref');
                
                window.open(`/camps/${_ref}`, '_self');
            } // onclick
        }); // for
    }); // addEventListener
</script>

<!-- lazy-loading for images -->
<script src="/js/lazy-loading.js"></script>