<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= camp.title %> - View campground</title>

    <link rel="stylesheet" href="/css/global.css"/>
</head>

<style>
    /* override yelpcamp */
    yelpcamp {
        display: flex;
        flex-direction: column;

        width: 40%;
        min-width: 400px;
    }

    img {
        max-width: 100%;
    }

    p {
        margin-top: 10px;
        text-align: justify;
    }

    button {
        width: 150px;
        margin-top: 10px;
        padding: 5px 0;
        color: white;
        border: 0;
        border-radius: 3px;
        cursor: pointer;: 
    }
    button:hover {
        text-decoration: underline;
    }

    button[role="edit"] {
        background-color: var(--color-yelpcamp-secondary);
    }
    button[role="delete"] {
        background-color: #ff0000;
    }
</style>

<body>
    <%- include('../layout/nav') %>

    <yelpcamp>
        <h1><%= camp.title %></h1>
        <h2><%= camp.location %></h2>
        <p><b>$<%= camp.price %></b></p>
        <img class="lazy" src="/img/lazy-loaded-2.jpg" data-src="<%= camp.image %>"/>
        <p><%= camp.description %></p>

         <div>   
            <button role="edit" ref="<%= camp.id %>">Edit</button>
            <button role="delete" ref="<%= camp.id %>">Delete</a></button>
         </div>
    </yelpcamp>
</body>
</html>

<script>
    buttons = document.querySelectorAll('button');
    for (button of buttons) { 
        button.onclick = function() {
            _ref = this.getAttribute('ref');
            _role = this.getAttribute('role');

            window.open(`/camps/${_ref}/${_role}`, '_self');
        } // onclick
    }; // for
</script>

<!-- lazy-loading for images -->
<script src="/js/lazy-loading.js"></script>