<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>YelpCamp - Home</title>    

    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/global.css"/>
</head>

<style>
    yelp-quote {
        display: block;
        margin-bottom: 10px;

        font-family: 'Dancing Script', 'Google Sans', 'Segoe UI', Arial;
        font-size: 2rem;
        color: var(--color-yelpcamp-secondary);
        font-weight: 500;
        text-align: justify;
    }
    yelp-quote-author {
        font-family: 'Dancing Script', 'Google Sans', 'Segoe UI', Arial;
        font-size: 2.5rem;
        color: #aaa;
        font-weight: bold;
    }

    img {
        width: 100%;
    }
</style>

<body>
    <%- include('layout/nav') %>

    <yelpcamp>
        <yelp-quote>
            "<%- quote.quote %>" -
            <yelp-quote-author><%= quote.author %></yelp-quote-author>
        </yelp-quote>
        <img class="lazy" src="/img/lazy-loaded-2.jpg" data-src="https://source.unsplash.com/collection/8613850"/>
    </yelpcamp>
</body>
</html>

<!-- lazy-loading for images -->
<script src="/js/lazy-loading.js"></script>