:root {
    --color-yelpcamp: #3cba54;
    --color-yelpcamp-secondary: cornflowerblue;
    --color-body-background: #fafafa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Google Sans', 'Segoe UI', Arial;
}

body {
    background-color: var(--color-body-background);
}

h1 {
    color: var(--color-yelpcamp);
    margin-bottom: 10px;
}

yelpcamp {
    display: block;
    width: 60%;
    margin: 0 auto 10px auto;
    padding: 20px;
    background-color: white;
}