<head>
	<title>Page not found 😅</title>

    <link rel="stylesheet" href="/css/global.css"/>
</head>

<%- include('../layout/nav') %>

<a title="Page not found. Go to YelpCamp." href="/" target="_self">
    <img style="width: 100%" src="/img/errors/404-not-found.png"/>
</a>