<head>
	<title>Internal server error 😭</title>

    <link rel="stylesheet" href="/css/global.css"/>
</head>

<%- include('../layout/nav') %>

<a title="Internal server error. Go to YelpCamp." href="/" target="_self">
    <img style="width: 100%" src="/img/errors/500-internal-error.png"/>
</a>