<style>
    navbar {
        position: sticky;
        top: 0; left: 0;

        width: 100%;
        padding: 10px;

        display: flex;
        justify-content: space-between;

        background-color: var(--color-yelpcamp);
    }
    
    navbar a {
        color: white;
        font-weight: bold;
        text-decoration: none;
    }

    navbar a:hover {
        text-decoration: underline;
    }
</style>

<navbar>
    <nb-item><a href="/">YelpCamp</a></nb-item>
    <nb-item><a href="/camps">Campgrounds</a></nb-item>
    <nb-item><a href="/camps/new">New camground</a></nb-item>
</navbar>